header {
    background-color: #ffb627;
    color: #8c1c13;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 1px;
}

.bg-body-tertiary {
    background-color: transparent !important;
}
.offcanvas{
    background-color: #ffc107;
}
.dropdown-menu{
    background-color: transparent;
    border: none;
    --bs-dropdown-link-hover-bg: #b58904;
    --bs-dropdown-link-active-bg: #8c5613d9
}
body{
    font-family: sans-serif;
}
.imagenLogo {
    width: 100px;
}
.headerDiv{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
li{
    margin: 5px;
}
a {
    text-decoration: none;
    color: #8c1c13;
}




main{
    background-color: #f3de2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
h2{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.destacados{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}
.card{
    position: inherit;
    width: 18rem;
    background-color: #f6bd60;
    border: solid .1rem #8c1c13;
    border-radius: 1rem;
    margin: 1rem;

}
.card img {
    margin: .5rem;
    border: solid .1rem #8c1c13;
    border-radius: 1rem;
}






.nosotrosContenido {
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-between;
}
.nosotrosContenido div{
    width: 35%;
}
.nosotrosDatos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nosotrosDatos ul {
    flex-direction: column;
    align-items: flex-end;
}
.nosotrosContacto{
    padding-bottom: 70px;
    font-weight: bold;
    font-size: 1rem;
}



.productos {
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-between;
}
.productosNav{
    width: 60%;
}
.productosImagenes {
    width: 30%;
}
legend{
    font-size: 1rem;
}





.frecuentesPadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.frecuentesNav{
    display: flex;
    justify-content: center;
    
}
.frecuentesNav ul{
    width: 70%;
    flex-direction: column;
}
.frecuentesNav ul li{
    border: 2px solid #8c1c13;
    border-radius: 7px;
    width: 90%;
    padding: 5px 20px;
    text-align: center;
    
}
.frecuentesRta{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.frecuentesRta li {
    width: 70%;
}


.contactoFormulario{
    width: 60%;
    padding: 3rem 9rem;
}
.offcanvas-backdrop{
    position: relative;
}
*, ::after, ::before{
    box-sizing: content-box;
}
.mb-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mb-3 div{
    width: 45%;
}
.contenedorEnviarForm{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.botonFormulario{
    border-radius: 5px;
    border: transparent;
}

.opinionesNav{
    display: flex;
    width: 80%;
}
.opinionesCaja{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #8c1c13;
    border-radius: 15px;
    background-color: #f6bd60;
    margin: 15px;
    padding: 7px 0;

}
.opinionesCajaInterior{
    display: flex;
    padding: 0 7px;
    justify-content: space-between;
    align-items: center;
}
.opinionesCajaInterior p{
    font-size: 13px;
    background-color: #e9ff70;
    width: 60%;
    height: 100px;
    overflow: hidden;
    border: 1px solid #8c1c13;
    border-radius: 14px;
    padding: 5px;
}
.opinionesCajaInterior a{
    width: 15%;
    height: 20%;
    border: 1px solid #8c1c13;
    border-radius: 14px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
}
.opinionesCaja img{
    border: 1px solid #8c1c13;
    width: 95%;
    border-radius: 14px;
}






@media (max-width: 750px){
    .contactoFormulario{
        width: 90%;
        
    }
    .mb-3{
        flex-direction: column;
        align-items: center;
    }
    .mb-3 div {
        width: 90%;
    }
    .form-floating {
        margin: 5px 0;
    }
    .destacados{
        flex-direction: column;
        align-items: center;
    }
    .frecuentesPadre{
        flex-direction: column;
    }
    .frecuentesRta{
        width: auto;
    }
    .nosotrosContenido{
        flex-direction: column;
    }
    .nosotrosContenido div{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotrosDatos{
        align-items: center;
    }
    .nosotrosContacto{
        width: 80%;
        text-align: center;
    }
    .productos{
        flex-direction: column;
        align-items: center;
    }
}